<app-menu></app-menu>
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-3">Select map:</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="list-group">
        <a *ngFor="let map of maps" [routerLink]="['/game', map]"
           class="list-group-item list-group-item-action flex-column align-items-start"
           (click)="setMap(map)">
          <p class="mb-1">Map {{map}}</p>
        </a>
      </div>
    </div>
  </div>
</div>



<!--<div class="list-group">-->
<!--  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">-->
<!--    <div class="d-flex w-100 justify-content-between">-->
<!--      <h5 class="mb-1">List group item heading</h5>-->
<!--      <small>3 days ago</small>-->
<!--    </div>-->
<!--    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>-->
<!--    <small>Donec id elit non mi porta.</small>-->
<!--  </a>-->
<!--  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">-->
<!--    <div class="d-flex w-100 justify-content-between">-->
<!--      <h5 class="mb-1">List group item heading</h5>-->
<!--      <small class="text-muted">3 days ago</small>-->
<!--    </div>-->
<!--    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>-->
<!--    <small class="text-muted">Donec id elit non mi porta.</small>-->
<!--  </a>-->
<!--  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">-->
<!--    <div class="d-flex w-100 justify-content-between">-->
<!--      <h5 class="mb-1">List group item heading</h5>-->
<!--      <small class="text-muted">3 days ago</small>-->
<!--    </div>-->
<!--    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>-->
<!--    <small class="text-muted">Donec id elit non mi porta.</small>-->
<!--  </a>-->
<!--</div>-->
